@keyframes grid-item-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes example {
    from { background-color: green; }
    to { background-color: red; }
}
